name: Auto Merge

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Ensure PR is mergeable
        id: mergeable
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |
          gh pr view ${{ github.event.pull_request.number }} --json mergeable --jq .mergeable > mergeable.txt
          if [ "$(cat mergeable.txt)" != "MERGEABLE" ]; then
            echo "Pull request is not mergeable"
            exit 1
          fi

      - name: Automerge Script
        uses: actions/github-script@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            const { data: pr } = await github.rest.pulls.get({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.payload.pull_request.number
            });
             if (pr.mergeable_state === "dirty") {
                console.log("Pull request has merge conflicts.");
                return;
             }
            if (pr.mergeable && pr.mergeable_state === "clean") {
             await github.rest.pulls.merge({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.payload.pull_request.number,
                merge_method: "squash",
                commit_title: "Auto-merged by GitHub Actions"
            });
            } else {
              console.log("Pull request is not mergeable.");
             }

